/* Стили header */
.header {
  display: flex;
  width: 1052px;
  min-height: 105px;
  margin: 90px 24px 95px 24px;
  gap: 105px;
}

.header__menu {
  align-self: center;
  min-height: 22px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 26.5px;
  padding-top: 6px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 33.5px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link{
  text-decoration: underline;
  text-underline-offset: 4px;
  line-height: 22px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 152px;
  height: 107px;
  position: relative;
  left: -70px;
  padding-top: 2px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  font-style: normal;
}

.header__address {
  padding-top: 8px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 400;
}

.header__address p {
  line-height: 24px;
}

.header__address a {
  line-height: 25px;
  text-decoration: underline;
  text-underline-offset: 3px;
} 
/* Стили блока заголовка с картинкой */
.cover {
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 757px;
  z-index: -1;
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 60%;
  background-color: #000000;
  z-index: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  min-height: 355px;
  color: #fff;
  z-index: 1;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: left;
}

.aligned-text {
  padding-left: 50px;
  padding-top: 165px;
}

.aligned-text_center {
  padding-left: 336px;
  padding-top: 10px;
}

.aligned-text_right {
  padding-left: 634px;
  padding-top: 3px;
}

.no-letter-spacing {
  letter-spacing: 0;
  margin-left: -23px;
}

.letter-spacing-extended {
  padding-left: 30px;
}

.cover__description {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 128px;
  z-index: 1;
}

.cover__description-text {
  padding-left: 16px;
  align-self: center;
  word-spacing: 1.15rem;
  padding-left: 30px;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 22px;
  font-weight: 400;
  margin-left: -20px;
  color: #fff;
  text-transform: uppercase;
  border-color: #fff;
}
/* Стили блока карточек */
.lots {
  display: flex;
  flex-direction: column;
  min-height: 692px;
  margin-top: 180px;
  gap: 27px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding-left: 65px;
}

.card {
  position: relative;
  color: #fff;
}

.lots__card-list {
  display: flex;
  padding: 0 24px;
  gap: 25px;
}

.lots__card-list-item {
  min-width: 334px;
  min-height: 563px;
  list-style-type: none;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  display: flex;
  background-image: url(../images/card-lot-01.jpg);
  height: 100%;
  z-index: -1;
}
.card_type_book {
  display: flex;
  background-image: url(../images/card-lot-02.jpg);
  height: 100%;
  z-index: -1;
}
.card_type_picture {
  display: flex;
  background-image: url(../images/card-lot-03.jpg);
  height: 100%;
  z-index: -1;
}

.card__content {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-end;
  z-index: 1;
  padding: 51px 40px;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
}

.lots__more-card {
  font-size: 20px;
  font-weight: 400;
  padding-left: 63px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
/* стили блока about */
.about {
  width: 1052px;
  display: grid;
  grid-template-columns: 324px 1fr;
  padding: 180px 0 180px 29px;
  gap: 30px;
}

.about__logo-container {
  display: flex;
  justify-content: center;
}

.about__logo {
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.about__logo-image {
  width: 150px;
  height: 150px;
}

.about__content {
  padding-top: 102px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase; 
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  padding-top: 100px;  
}

.about__text-padding {
  padding-top: 24px;
}
/* Стилизация footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
} 

.footer__address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer__menu {
  font-size: 18px;
  font-weight: 400;
  padding-left: 38px;
  padding-top: 2px;
  text-align: center;
}

.footer__menu-list-item {
  list-style-type: none;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-list-item {
  list-style-type: none;
} 

.footer__social-icon {
  width: 48px;
  height: 48px;
} 

